<footer class="bg-gradient-to-r from-blue-400 via-blue-900 to-blue-400 text-white text-center py-4 mt-4">
  <div class="container mx-auto px-4">
    <p class="mb-2">&copy; 2024 ArtistHub. All rights reserved.</p>
    <div class="flex justify-center space-x-6">
      <a href="https://www.linkedin.com/in/amayararocha/" class="hover:text-blue-300 transition-colors duration-300">
        <i class="fa-brands fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/amayararocha/" class="hover:text-blue-300 transition-colors duration-300">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
