<div class="flex flex-col md:flex-row items-center justify-center h-screen text-gray-900 text-center">
  <div class="flex flex-col md:w-1/2 md:items-center mb-2 md:mb-0 space-y-2">
    <h1 class="text-5xl font-bold leading-tight">Bem-vindo ao ArtistHub</h1>
    <p class="text-lg md:text-xl">Confira as músicas mais tocadas, álbuns e muito mais em um só lugar.</p>
  </div>
  <div class="flex justify-center md:mt-0">
    <img src="https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagem de Boas-Vindas" class="w-80 h-80 object-cover rounded-full shadow-lg">
  </div>
</div>
